.sidebar {
  height: 100%;
  width: 300px;
  background: #fff;
  &-header {
    &__avatar {
      display: block;
      height: 30px;
      width: 30px;
    }
    &__name {
      display: block;
    }
  }
}
